.CardContainer {
  width: fit-content;
  margin: 0 auto;
}
.A_HeadingIndex {
  top: 0;
}
.A_HighlightHeading3 {
  position: relative;
  display: inline-block;
  font-style: normal;
  line-height: 74%;
  text-align: center;
  color: var(--black);
  &.Antiqua {
    font-family: 'Wremena';
    font-weight: 300;
    font-size: 52px;
    padding: 0 5px;
  }
  &.Grotesk {
    font-family: 'Gramatika Demo';
    font-weight: 300;
    font-size: 46px;
    padding: 0 5px;
  }
  &.Emoji {
    top: 5px;
    padding: 0 10px;
    font-family: 'Noto Emoji';
    font-weight: normal;
    font-size: 44px;
  }
}
.A_Heading1Grotesk {
  position: relative;
  display: inline-block;
  font-family: 'Gramatika Demo';
  font-weight: normal;
  font-style: normal;
  font-size: 134px;
  line-height: 74%;
  text-align: center;
  color: var(--black);
  margin: 0 auto;
  div {
    display: inline-block;
  }
}
.A_Heading1Antiqua {
  position: relative;
  margin: 0 auto;
  display: inline-block;
  font-family: 'Wremena';
  font-weight: 300;
  font-style: normal;
  font-size: 156px;
  line-height: 74%;
  text-align: center;
  color: var(--black);
  div {
    display: inline-block;
  }
}
.A_Heading2Grotesk {
  position: relative;
  display: inline-block;
  font-family: 'Gramatika Demo';
  font-weight: normal;
  font-style: normal;
  font-size: 96px;
  line-height: 74%;
  text-align: center;
  text-shadow: 0px 0px 12px var(--white);
  color: var(--black);
  max-width: 60vw;
  margin: 0 auto;
}
.A_Heading2Antiqua {
  position: relative;
  margin: 0 auto;
  max-width: 60vw;
  display: inline-block;
  font-family: 'Wremena';
  font-weight: 300;
  font-style: normal;
  font-size: 100px;
  line-height: 74%;
  text-align: center;
  text-shadow: 0px 0px 12px var(--white);
  color: var(--black);
}
.A_Heading3 {
  position: relative;
  font-family: 'Gramatika Demo';
  font-weight: 300;
  font-style: normal;
  font-size: 48px;
  line-height: 74%;
  text-align: left;
  text-shadow: 0px 0px 12px var(--white);
  color: var(--black);
  &.Left {
    text-align: left;
  }
  &.Center {
    text-align: center;
  }
  &.Underlined {
    text-decoration: underline;
  }
}
.A_Heading4 {
  font-family: 'Wremena';
  font-weight: 300;
  font-style: normal;
  font-size: 40px;
  line-height: 100%;
  text-align: center;
  text-decoration: underline;
  color: var(--black);
  text-shadow: 0px 0px 12px var(--white);
}
.A_Heading5 {
  font-family: 'Gramatika Demo';
  font-weight: normal;
  font-style: normal;
  font-size: 32px;
  line-height: 90%;
  text-align: center;
  color: var(--black);
  &.Left {
    text-align: left;
  }
  &.Center {
    text-align: center;
  }
}
.A_Paragraph {
  font-family: 'Wremena';
  position: relative;
  font-weight: 300;
  font-style: normal;
  font-size: 24px;
  line-height: 105%;
  color: var(--black);
  &.Left {
    text-align: left;
  }
  &.Center {
    text-align: center;
  }
  &.Glowing {
    text-shadow: 0px 0px 12.1275px var(--white);
  }
}
.A_Link {
  font-family: 'Wremena';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  color: var(--white);
  text-shadow: 0px 0px 12.1275px var(--white);
  text-decoration-line: underline;
  &:hover {
    text-shadow: 0px 0px 12.1275px var(--pink);
    cursor: url('./images/pointer.svg'), auto;
  }
}
.A_AccentButtonTarotTellings {
  position: relative;
  width: 352px;
  padding: 8px;
  height: 110px;
  left: calc((100% - 352px) / 2);
  background: var(--black);
  box-shadow: 0px 6px 9px var(--blackshadow), inset 0px 4px 10px var(--white);
  border-radius: 14px;
  font-family: 'Wremena';
  font-style: normal;
  font-weight: 300;
  font-size: 64px;
  text-align: center;
  line-height: 87px;
  color: var(--white);
  margin-bottom: 41vh;
  text-shadow: 0px 0px 22px var(--white);
  &:hover {
    cursor: url('./images/pointer.svg'), auto;
    transition: all 0.5s ease-out;
    transform: scale(0.95);
    box-shadow: 0px 6px 9px rgba(0, 0, 0, 0.25), inset 0px 4px 10px var(--pink);
  }
  &.NotShowing {
    display: none;
  }
}
.A_AccentButton {
  font-family: 'Wremena';
  font-weight: 300;
  font-style: normal;
  font-size: 52px;
  line-height: 74%;
  color: var(--white);
  background-color: var(--black);
  padding: 27px 20px;
  border-radius: 9px;
  &:hover {
    cursor: url('./images/pointer.svg'), auto;
    transition: all 0.5s ease-out;
    transform: scale(0.95);
  }
}
.A_ArticleButton {
  font-family: 'Wremena';
  font-weight: 300;
  font-style: normal;
  font-size: 52px;
  line-height: 74%;
  color: var(--white);
  background-color: var(--black);
  padding: 27px 20px;
  border-radius: 9px;
  &:hover {
    cursor: url('./images/pointer.svg'), auto;
    transition: all 0.5s ease-out;
    transform: scale(0.95);
  }
}
.A_paragraphHeader {
  font-family: 'Wremena';
  position: relative;
  font-family: 'Wremena';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 110%;
  text-align: center;
  color: var(--black);
  width: 895px;
  left: calc((100% - 895px) / 2);
  margin-bottom: 50px;
  top: -70px;
}
.Category {
  &:hover {
    text-shadow: 0px 0px 12px var(--pink);
    cursor: url('./images/pointer.svg'), auto;
  }
  &.NotShowing {
    display: none;
  }
}
.A_CardArticleImage {
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 14px;
  overflow: hidden;
  .Q_CardArticlesImageGradient {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      180deg,
      rgba(255, 210, 237, 0) 70.83%,
      var(--pink) 100%
    );
  }
  &.Waite {
    background-image: url('./images/articleImageWaite.png');
  }
  &.Fours {
    background-image: url('./images/isThisAManicEpisode.png');
  }
  &.First {
    background-image: url('./images/girlWithCandles.png');
  }
}
#canvas {
  &.A_CanvasIndex {
    background: transparent;
  }
}
.A_ImageWithGradient {
  position: relative;
  width: 1208px;
  height: 640px;
  border-radius: 22px;
  overflow: hidden;
  .Q_Gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(
        54.09% 55.76% at 100% 50%,
        #ffa9e7 0%,
        rgba(255, 169, 231, 0) 100%
      ),
      radial-gradient(
        45.91% 47.33% at 0% 50%,
        #ffa9e7 0%,
        rgba(255, 169, 231, 0) 100%
      );
    z-index: 2;
  }
  .Q_Image {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
}
.A_SearchInput {
  height: 58px;
  width: 830px;
  border: none;
  background: transparent;
  font-family: 'Gramatika Demo';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: var(--black);
  line-height: 58px;
  cursor: url('./images/pointer.svg'), auto;

  &::placeholder {
    font-family: 'Gramatika Demo';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: var(--black);
    line-height: 58px;
  }
  &:focus {
    outline: none;
  }
}
.Q_MenuStar {
  &.Black {
    background-image: url('images/Q_MenuStar.svg');
    background-size: contain;
  }
  &.White {
    background-image: url('images/Q_MenuStarWhite.svg');
    background-size: contain;
  }
  &.Stroke {
    background-image: url('images/Q_StrokeStar.svg');
    background-size: contain;
  }
  &.Big {
    width: 40px;
    height: 40px;
  }
}
@media only screen and (min-width: 1440px) and (max-width: 1919px) {
  .A_Heading1Grotesk {
    font-size: 122px;
  }
  .A_Heading1Antiqua {
    font-size: 130px;
  }
  .A_Heading2Grotesk {
    font-size: 78px;
  }
  .A_Heading2Antiqua {
    font-size: 80px;
  }
  .A_Heading3 {
    font-size: 44px;
  }

  .A_HighlightHeading3 {
    &.Antiqua {
      font-size: 30px;
      padding: 0 2px;
    }
    &.Grotesk {
      font-size: 28px;
      padding: 0 2px;
    }
    &.Emoji {
      top: 5px;
      padding: 0 6px;
      font-size: 30px;
    }
  }
  .A_Heading4 {
    font-size: 30px;
  }
  .A_Heading5 {
    font-size: 24px;
  }
  .A_Paragraph {
    font-size: 20px;
  }
  .A_Link {
    font-size: 20px;
  }
  .A_AccentButtonTarotTellings {
    width: 253px;
    height: 78px;
    left: calc((100% - 253px) / 2);
    border-radius: 9px;
    font-size: 46px;
    line-height: 62px;
  }
  .A_ArticleButton {
    font-size: 38px;
    padding: 20px 18px;
    border-radius: 9px;
  }
  .A_paragraphHeader {
    font-size: 20px;
    width: 665px;
    left: calc((100% - 665px) / 2);
    top: -70px;
  }
  .A_CardArticleImage {
    border-radius: 11px;
  }
  .A_ImageWithGradient {
    width: 895px;
    height: 470px;
    border-radius: 12px;
  }
  .A_SearchInput {
    height: 47px;
    width: 580px;
    font-size: 20px;
    line-height: 47px;
    &::placeholder {
      font-size: 20px;
      color: var(--black);
      line-height: 47px;
    }
  }
  .Q_MenuStar {
    &.Big {
      width: 32px;
      height: 32px;
    }
  }
}
@media only screen and (min-width: 960px) and (max-width: 1439px) {
  .A_Heading1Grotesk {
    font-size: 100px;
  }
  .A_Heading1Antiqua {
    font-size: 106px;
  }
  .A_Heading2Grotesk {
    font-size: 66px;
  }
  .A_Heading2Antiqua {
    font-size: 66px;
  }
  .A_Heading3 {
    font-size: 40px;
  }

  .A_HighlightHeading3 {
    &.Antiqua {
      font-size: 26px;
      padding: 0 3px;
    }
    &.Grotesk {
      font-size: 24px;
      padding: 0 3px;
    }
    &.Emoji {
      top: 5px;
      padding: 0 8px;
      font-size: 26px;
    }
  }
  .A_Heading4 {
    font-size: 27px;
  }
  .A_Heading5 {
    font-size: 22px;
  }
  .A_AccentButtonTarotTellings {
    width: 231px;
    height: 73px;
    left: calc((100% - 231px) / 2);
    border-radius: 9px;
    font-size: 42px;
    line-height: 57px;
  }
  .A_ArticleButton {
    font-size: 36px;
    padding: 18px 14px;
    border-radius: 6px;
  }
  .A_paragraphHeader {
    font-size: 18px;
    width: 513px;
    left: calc((100% - 513px) / 2);
    top: -70px;
  }
  .A_Link {
    font-size: 18px;
  }
  .A_Paragraph {
    font-size: 18px;
  }
  .A_CardArticleImage {
    border-radius: 10px;
  }
  .A_ImageWithGradient {
    width: 794px;
    height: 420px;
    border-radius: 12px;
  }
  .A_SearchInput {
    height: 43px;
    width: 520px;
    font-size: 18px;
    line-height: 43px;
    &::placeholder {
      font-size: 18px;
      line-height: 43px;
    }
  }
  .Q_MenuStar {
    &.Big {
      width: 28px;
      height: 28px;
    }
  }
}
@media only screen and (min-width: 960px) and (max-width: 1279px) {
  /*только смена количества колонок*/
}
@media only screen and (min-width: 500px) and (max-width: 959px) {
  .A_Heading1Grotesk {
    font-size: 74px;
  }
  .A_Heading1Antiqua {
    font-size: 76px;
  }
  .A_Heading2Grotesk {
    font-size: 46px;
  }
  .A_Heading2Antiqua {
    font-size: 48px;
  }
  .A_Heading3 {
    font-size: 30px;
  }
  .A_HighlightHeading3 {
    &.Antiqua {
      font-size: 37px;
      padding: 0 3px;
    }
    &.Grotesk {
      font-size: 34px;
      padding: 0 3px;
    }
    &.Emoji {
      top: 5px;
      padding: 0 8px;
      font-size: 37px;
    }
  }
  .A_Heading4 {
    font-size: 18px;
  }
  .A_Heading5 {
    font-size: 18px;
  }
  .A_Paragraph {
    font-size: 14px;
  }
  .A_Link {
    font-size: 14px;
  }
  .A_AccentButtonTarotTellings {
    width: 188px;
    height: 60px;
    left: calc((100% - 188px) / 2);
    border-radius: 8px;
    font-size: 34px;
    line-height: 46px;
    margin-bottom: 60vh;
  }
  .A_ArticleButton {
    font-size: 32px;
    padding: 7px 9px;
    border-radius: 4px;
  }
  .A_paragraphHeader {
    font-size: 14px;
    width: 406px;
    left: calc((100% - 406px) / 2);
    top: -70px;
  }
  .A_CardArticleImage {
    border-radius: 8px;
  }
  .A_ImageWithGradient {
    width: 695px;
    height: 370px;
    border-radius: 12px;
  }
  .A_SearchInput {
    height: 34px;
    width: 520px;
    font-size: 14px;
    line-height: 34px;
    &::placeholder {
      font-size: 14px;
      line-height: 34px;
    }
  }
  .Q_MenuStar {
    &.Big {
      width: 20px;
      height: 20px;
    }
  }
}
@media only screen and (min-width: 500px) and (max-width: 642px) {
}
@media only screen and (min-width: 500px) and (max-width: 767px) {
  /*только смена количества колонок*/
  // .A_Heading1Grotesk {
  //   max-width: 400px;
  // }
  // .A_Heading1Antiqua {
  //   max-width: 400px;
  // }
  .A_ImageWithGradient {
    width: 458px;
    height: 244px;
    border-radius: 8px;
  }
  .A_SearchInput {
    width: 420px;
  }
}

@media only screen and (max-device-width: 499px) {
  .A_Heading1Grotesk {
    font-size: 52px;
  }
  .A_Heading1Antiqua {
    font-size: 54px;
  }
  .A_Heading2Grotesk {
    font-size: 36px;
    width: fit-content;
    max-width: 80vw;
    margin: 0 auto;
  }
  .A_Heading2Antiqua {
    font-size: 36px;
  }
  .A_Heading3 {
    font-size: 20px;
  }

  .A_HighlightHeading3 {
    &.Antiqua {
      font-size: 26px;
      padding: 0 2px;
    }
    &.Grotesk {
      font-size: 24px;
      padding: 0 2px;
    }
    &.Emoji {
      top: 5px;
      padding: 0 6px;
      font-size: 24px;
    }
  }
  .A_Heading4 {
    font-size: 18px;
    text-align: left;
  }
  .A_Heading5 {
    font-size: 22px;
  }
  .A_Paragraph {
    font-size: 14px;
  }
  .A_Link {
    font-size: 14px;
  }
  .A_AccentButtonTarotTellings {
    margin-bottom: 60vh;
    width: 188px;
    height: 60px;
    left: calc((100% - 188px) / 2);
    border-radius: 8px;
    font-size: 34px;
    line-height: 46px;
  }
  .A_ArticleButton {
    font-size: 24px;
    padding: 8px 9px;
    border-radius: 4px;
  }
  .A_paragraphHeader {
    font-size: 14px;
    width: 50vw;
    left: 25vw;
    top: -70px;
  }
  .A_CardArticleImage {
    border-radius: 8px;
  }
  .A_ImageWithGradient {
    width: 328px;
    height: 180px;
    border-radius: 8px;
  }
  .A_SearchInput {
    height: 34px;
    width: 300px;
    font-size: 14px;
    line-height: 34px;
    &::placeholder {
      font-size: 14px;
      line-height: 34px;
    }
  }
  .Q_MenuStar {
    &.Big {
      width: 16px;
      height: 16px;
    }
  }
}
