.M_FortuneTellingReading {
  position: relative;
  width: fit-content;
  max-width: 80vw;
  margin: 0 auto;
  margin-bottom: 400px;
  display: flex;
  gap: 40px;
  flex-direction: column;
  align-items: center;
  .A_Heading3 {
    text-align: center;
  }
  .A_Paragraph {
    width: 896px;
    text-align: center;
  }
}
@media only screen and (min-width: 1440px) and (max-width: 1919px) {
}
@media only screen and (min-width: 960px) and (max-width: 1439px) {
}
@media only screen and (min-width: 960px) and (max-width: 1279px) {
  /*только смена количества колонок*/
}
@media only screen and (min-width: 500px) and (max-width: 959px) {
}
@media only screen and (min-width: 500px) and (max-width: 767px) {
  /*только смена количества колонок*/
}
@media only screen and (max-device-width: 499px) {
}
