.M_CardReading {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 40px;
  width: fit-content;
  .W_StarHeading {
    position: relative;
    display: flex;
    flex-direction: row;
    // align-items: center;
    gap: 12px;
    width: 272px;
  }
  .A_Heading3 {
    position: relative;
  }
  .A_Paragraph {
    position: relative;
    width: 582px;
  }
  .Q_StarIcon {
    background-image: url('./../../images/Q_MenuStar.svg');
    background-size: contain;
    width: 40px;
    height: 40px;
    &.none {
      display: none;
    }
  }
}
@media only screen and (min-width: 1440px) and (max-width: 1919px) {
  .M_CardReading {
    gap: 25px;
    .W_StarHeading {
      gap: 6px;
      width: 216px;
    }
    .A_Paragraph {
      width: 435px;
    }
    .Q_StarIcon {
      width: 32px;
      height: 32px;
    }
  }
}
@media only screen and (min-width: 960px) and (max-width: 1439px) {
  .M_CardReading {
    gap: 22px;
    .W_StarHeading {
      gap: 5px;
      width: 195px;
    }
    .A_Paragraph {
      width: 386px;
    }
    .Q_StarIcon {
      width: 28px;
      height: 28px;
    }
  }
}
@media only screen and (min-width: 960px) and (max-width: 1279px) {
  /*только смена количества колонок*/
  .M_CardReading {
    gap: 22px;
    .W_StarHeading {
      gap: 5px;
      width: 195px;
    }
    .A_Paragraph {
      width: 386px;
    }
    .Q_StarIcon {
      width: 28px;
      height: 28px;
    }
  }
}
@media only screen and (min-width: 500px) and (max-width: 959px) {
  .M_CardReading {
    flex-direction: column;
    gap: 5px;
    .W_StarHeading {
      gap: 3px;
      width: 455px;
    }
    .A_Paragraph {
      padding-left: 23px;
      width: 455px;
    }
    .Q_StarIcon {
      width: 20px;
      height: 20px;
    }
  }
}
@media only screen and (min-width: 500px) and (max-width: 767px) {
  /*только смена количества колонок*/
  .M_CardReading {
    flex-direction: row;
    gap: 25px;
    .W_StarHeading {
      gap: 3px;
      width: 150px;
    }
    .A_Paragraph {
      width: 280px;
      padding-left: 0px;
    }
  }
}
@media only screen and (max-device-width: 499px) {
  .M_CardReading {
    flex-direction: column;
    gap: 10px;
    .W_StarHeading {
      gap: 2px;
      width: 328px;
    }
    .A_Paragraph {
      padding-left: 16px;
      width: 328px;
    }
    .Q_StarIcon {
      width: 16px;
      height: 16px;
    }
  }
}
