body.index {
  background: var(--white);
  overflow: overlay;
  overflow-x: hidden;
  cursor: url('./images/cursor.svg'), auto;
  h1 {
    font-size: 550%;
    text-align: center;
    font-family: 'Gramatika Demo';
    color: var(--black);
  }
  h2 {
    font-size: 300%;
    font-family: 'Gramatika Demo';
    text-align: center;
  }
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #313131;
  border-radius: 200px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff8bec;
  border-radius: 200px;
}
h1 {
  // font-size: 550%;
  text-align: center;
  font-family: 'Gramatika Demo';
}
.prikolfont {
  font-family: 'Wremena';
  font-weight: 300;
}
.gootransparent {
  padding: auto;
  position: relative;
  display: inline;
  box-decoration-break: clone;
  background: var(--white);
  padding: 0.5rem 0.7rem;
  filter: url('#goo');
  top: 15vh;
  z-index: 0;
}
.button12 {
  cursor: url('./images/pointer.svg'), auto;
  transition: 0.5s;
  padding-left: 1vw;
  padding-right: 1vw;
}
.button12:hover {
  color: var(--pink);
}
.headerlanding {
  position: fixed;
}
.goo {
  // font-size: 3rem;
  // line-height: 1.35;
  display: inline;
  box-decoration-break: clone;
  background: var(--white);
  padding: 0.5rem 1rem;
  filter: url('#goo');
  font-size: 20%;
  a {
    display: inline;
    box-decoration-break: clone;
    background: var(--white);
    // padding: 0.5rem 1rem;
    filter: url('#goo');
    font-size: 100%;
  }
}
.back1 {
  position: absolute;
  left: 0;
  top: 0;
  width: 1384;
  height: 2014;
}
.back2 {
  position: absolute;
  right: 0;
  top: 0;
  width: 1384;
  height: 2014;
}
.back3 {
  position: absolute;
  width: 100vw;
  height: 200vh;
  top: 220vh;

  background: radial-gradient(
      96.48% 41.68% at 50% 56%,
      #fda8e5 0%,
      rgba(185, 185, 185, 0) 100%
    ),
    #f5f6ee;
}
.back4 {
  position: absolute;
  left: 0;
  bottom: 100vh;
  width: 1384;
  height: 2014;
}
.back5 {
  position: absolute;
  right: 0;
  bottom: 100vh;
  width: 1384;
  height: 2014;
}
.headerflex {
  display: flex;
  top: 0;
  position: absolute;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 1vw;
  width: 100vw;
  height: 10vh;
  line-height: 70%;
  z-index: 1000;
}
.starsvg1 {
  width: 1.4vw;
  height: 1.4vw;
  top: 0.5vh;
  margin: 0;
}
.с2_landingpage {
  display: flex;
  position: relative;
  top: 25vh;
  left: 10vw;
  width: 80vw;
  height: 100vh;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  h2 {
    font-size: 300%;
    font-family: 'Gramatika Demo';
    text-align: center;
  }
}
.c3_landingpage {
  display: flex;
  position: relative;
  top: 25vh;
  width: 98vw;
  left: 1vw;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  height: auto;
  gap: 2vw;
  img {
    width: auto;
    height: 60vh;
    margin-bottom: 0;
    top: 0;
  }
}
.c4_landingpage {
  display: flex;
  position: relative;
  top: 30vh;
  left: 15vw;
  width: 70vw;
  height: auto;
  gap: 10vh;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  .c_c4 {
    display: flex;
    flex-direction: row;
    text-align: center;
    height: auto;
    gap: 8vw;
    font-family: 'Gramatika Demo';
    font-size: 150%;
    .m_c4_cardlanding {
      height: auto;
      gap: 1vw;
      display: flex;
      align-items: center;
      flex-direction: column;

      img {
        width: auto;
        height: 10vw;
        margin-bottom: 0;
        top: 0;
      }
    }
  }
  h2 {
    font-size: 300%;
    font-family: 'Gramatika Demo';
    text-align: center;
  }
}
.с5_landingpage {
  display: flex;
  position: relative;
  top: 30vh;
  left: 25vw;
  width: 50vw;
  height: 85vh;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  .gootransparent {
    top: 0;
  }
}

.c6_landingpage {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  top: 14vh;
  left: 2vw;
  width: 96vw;
  height: 150vh;
  gap: 4vh;
  .prikolfont {
    font-size: 122%;
  }
  img {
    height: 70vh;
    width: auto;
    margin-bottom: 0;
    top: 0;
  }
  .c_c6_landingpage {
    display: flex;
    flex-direction: row;
    margin-left: 10vw;
    margin-right: 10vw;
    justify-content: space-between;
    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1vh;
    }
  }

  .m2_c6 {
    margin-left: -10vw;
  }
}

.c7_landingpage {
  display: flex;
  position: relative;
  top: 7vh;
  left: 2vw;
  width: 96vw;
  height: 100vh;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  .c1_c7,
  .c3_c7 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
  }
  .m1_c7,
  .m2_c7 {
    height: 50vh;
    width: auto;
    margin-bottom: 0;
    top: 0;
  }
}
.c8_landingpage {
  height: 125vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;

  top: 25vh;
  border-radius: 20px 20px 0px 0px;
  background: radial-gradient(
      61.99% 61.99% at 50% 0%,
      #292929 0%,
      rgba(255, 169, 231, 0) 100%
    ),
    radial-gradient(
      85.93% 85.93% at 50% 100%,
      #292929 0%,
      rgba(255, 169, 231, 0) 100%
    ),
    #ffa9e7;
  p {
    color: var(--white);
    position: absolute;
    bottom: 1vh;
  }
}
.buttoncard {
  cursor: url('./images/pointer.svg'), auto;
  transition: 0.4s;
}
.buttoncard:hover {
  transform: scale(0.96, 0.96);
}
.c1_articles {
  position: relative;

  height: 60vh;
}

.c4_articles {
  display: flex;
  width: 90vw;
  left: 5vw;
  position: relative;

  flex-wrap: wrap;
  height: 246vh;
  gap: 2vw;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  img {
    margin: 0;
    top: 0;
    height: auto;
    width: 40vh;
  }
  .m2_c4 {
    // display: flex;
    // flex-direction: column;
    height: auto;
    border-radius: 20px;
    width: 40vh;
    text-align: left;
  }
  .m3_card {
    // display: flex;
    // flex-direction: column;
    height: auto;
    border-radius: 20px;
    width: 40vh;

    h3 {
      font-size: 200%;
      text-align: left;
    }
    p {
      font-family: 'Wremena';
      text-align: left;
    }
  }
}

.c3_articles {
  display: flex;
  width: 90vw;
  left: 5vw;
  position: relative;

  flex-wrap: wrap;
  height: 246vh;
  gap: 2vw;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  img {
    margin: 0;
    top: 0;
    height: auto;
    width: 40vh;
  }
  .m3_card {
    // display: flex;
    // flex-direction: column;
    height: auto;
    border-radius: 20px;
    width: 40vh;
    padding: 4vh;
    flex-grow: 1;
    background: radial-gradient(
          98.45% 57.5% at 52.94% -0.07%,
          #ffafe9 0%,
          rgba(255, 175, 233, 0) 79.69%
        )
        /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
      rgba(245, 246, 238, 0.01);
    box-shadow: 0px 4.04257px 6.68182px rgba(0, 0, 0, 0.25),
      inset 0px 4.04257px 10.1064px #f8f6f0;
    border-radius: 22px;
    .a_m3_card {
      height: 20vh;
      margin-bottom: 2vh;
      border-radius: 22px;
      width: auto;
      background: linear-gradient(
        180deg,
        #ffd2ed 0%,
        rgba(255, 210, 237, 0) 100%
      );
      border-radius: 10px;
      transform: matrix(1, 0, 0, -1, 0, 0);
    }
    h3 {
      font-size: 200%;
      text-align: center;
    }
    p {
      font-family: 'Wremena';
      text-align: center;
    }
    .m3_twice {
      flex-grow: 2;
    }
  }
}

.c5_styleguide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  position: relative;
  top: 30vh;
  width: 100vw;
  height: 150vh;
  .typo {
    width: 50vw;
    height: auto;
  }
  .c_c5 {
    display: flex;
    height: 20vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}
.c6_styleguide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  position: relative;
  top: 70vh;
  width: 100vw;
  height: 200vh;
  h2 {
    position: relative;
    top: 30vh;
  }
}
.c7_styleguide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
  top: 100vh;
  width: 40vw;
  left: 30vw;
  height: 70vh;
  margin-bottom: 20vh;
}
.graph1 {
  position: absolute;

  top: 90vh;
  width: 80vw;
  height: auto;
  left: 10vw;
}
.graph2 {
  position: absolute;
  top: 21vh;
  height: auto;
  width: 50vw;
  left: -5vw;
}
.graph3 {
  position: absolute;
  top: 10vh;
  height: auto;
  width: 37vw;
  right: 0vw;
}
.graph4 {
  position: absolute;
  top: 50vh;
  height: auto;
  width: 37vw;
  right: 10vw;
}
.a_c_c5 {
  height: 15vw;
  display: flex;
  flex-direction: row;
  width: 15vw;
  font-size: 300%;
  text-align: center;
  font-family: 'Gramatika Demo';
  background: #f5f6ee;
  box-shadow: 0px 4.04257px 6.68182px rgba(0, 0, 0, 0.25),
    inset 0px 4.04257px 10.1064px #f8f6f0;
  border-radius: 22px;
  align-items: flex-end;
  justify-content: center;
}
.c_c5 {
  display: flex;
  flex-direction: row;
  top: 7vh;
  gap: 4.9vw;
  justify-content: center;
  align-items: center;
}
.helpingone {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-device-width: 499px) {
  body.index h1 {
    font-size: 350%;
  }
}
