@media only screen and (min-width: 1367px) and (max-width: 1440px) {
  body {
    width: 1440px;
  }
  .с8_landingpage {
    height: 120vh;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1366px) {
  body {
    width: 1366px;
  }

  .c8_landingpage {
    height: 126vh;
    top: 4vh;
    p {
      margin-bottom: 2vh;
    }
  }

  .с5_landingpage {
    height: 106vh;
    margin-top: 3vh;
    margin-bottom: 3vh;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  body {
    width: 1024px;
  }
  .c3_landingpage {
    width: 90vw;
    left: 5vw;
  }
  .с5_landingpage {
    top: 40vh;

    height: 99vh;
  }
  .c6_landingpage {
    top: 36vh;
  }
  .c7_landingpage {
    top: 23vh;
  }
  .c8_landingpage {
    height: 137vh;
  }
}

@media only screen and (min-device-width: 415px) and (max-device-width: 768px) {
  /* iPad */
  body {
    width: 768px;
    // background: linear-gradient(
    //     180deg,
    //     #ff8bec 0%,
    //     rgba(255, 139, 236, 0) 4.5%,
    //     rgba(255, 139, 236, 0) 100%
    //   ),
    //   #f5f6ee;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
  .header {
    display: none;
  }
  .textblock {
    width: 96vw;
  }

  .A_bigbuttonbelow {
    width: 96vw;
    line-height: 5vh;
    height: 6vh;
    padding-top: 0;
    width: 96vw;
    padding-right: 2vw;
  }
  p {
    font-size: 3vh;
    line-height: normal;
    width: 96vw;
    margin-top: 2vh;
  }
  a {
    margin-right: 0vw;
  }
  .textblock {
    top: 9vh;
    height: 91vh;
  }
  .M_headerformobile {
    width: 100vw;
    padding-left: 2vh;
    padding-right: 2vh;
    padding-top: 2vh;
    display: flex;
    justify-content: space-between;
    font-size: 3vw;
  }
  .A_logomobile {
    background-image: url('images/logo.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    cursor: pointer;
    height: 3vw;
    width: 50vw;
  }
  .logoanimation {
    margin-top: 2vh;
  }
  .main {
    top: 24vh;
  }
  .card__content {
    height: 45vw;
    width: 29vw;
  }
  .card {
    height: 45vw;
    width: 29vw;
  }
  .cardbox {
    height: 48vh;
  }
  .card__front,
  .card__back {
    width: 29vw;
    height: 45vw;
  }
  .quest1,
  .quest2,
  .quest3,
  .quest4,
  .quest5,
  .quest6 {
    width: 20vw;
    font-size: 2vw;
  }
  .quest1,
  .quest2,
  .quest3 {
    left: 6vw;
  }
  .quest4,
  .quest5,
  .quest6 {
    right: 6vw;
  }
  .block2 {
    height: 20.3333vh;
  }
  .block3 {
    flex-direction: column-reverse;
    height: 47.66666vh;
    justify-content: center;
  }
  .rightpart {
    height: 50vh;
    width: 98vw;
  }
  .leftpart {
    width: 100vw;
    font-size: 2vw;
    text-align: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 3vh;
  }
  .card1,
  .card2,
  .card3 {
    height: 39.66665999999999vh;
    width: 38vw;
  }
  .hreftopromo img {
    display: none;
  }
  .part2 {
    height: 24.888800000000003vh;
  }
  .themes {
    font-size: 2vw;
    padding: 1.2vw;
    padding-top: 1vw;
  }
  .block4 {
    height: 24.888800000000003vh;
  }
  .hreftopromo {
    height: 13vw;
    border-radius: 5vw;
    font-size: 5vw;
    padding-bottom: 2vw;
  }
  .block7 .part4,
  .block7 .part5 {
    font-size: 2vw;
  }
  .part3 {
    flex-direction: column-reverse;
    justify-content: flex-end;
    .arrowright {
      margin-top: 2vh;
      transform: rotate(0deg);
      -moz-transform: scale(-1, 1);
      -webkit-transform: scale(-1, 1);
      -o-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
      transform: scale(-1, 1);
    }
  }
}

@media only screen and (min-device-width: 361px) and (max-device-width: 414px) {
  /* iPhone */
  body {
    width: 414px;
    margin: 0;
    // background: linear-gradient(
    //     180deg,
    //     #ff8bec 0%,
    //     rgba(255, 139, 236, 0) 4.5%,
    //     rgba(255, 139, 236, 0) 100%
    //   ),
    //   #f5f6ee;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
  .header {
    display: none;
  }
  .textblock {
    width: 96vw;
    top: 16vh;
  }

  .A_bigbuttonbelow {
    width: 90vw;
    line-height: 5vh;
    height: 6vh;
    padding-top: 0;
    padding-right: 2vw;
  }
  p {
    font-size: 3vh;
    line-height: normal;
    width: 96vw;
    margin-top: 2vh;
  }
  a {
    margin-right: 0vw;
  }
  .textblock {
    top: 9vh;
    height: 91vh;
  }
  .M_headerformobile {
    width: 100vw;
    padding-left: 2vh;
    padding-right: 2vh;
    padding-top: 2vh;
    display: flex;
    justify-content: space-between;
    font-size: 5vw;
    line-height: 4vw;
  }
  .A_logomobile {
    background-image: url('images/logo.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    cursor: pointer;
    height: 5vw;
    width: 50vw;
  }
  .logoanimation {
    margin-top: 2vh;
    padding-right: 1vw;
    font-size: 19vw;
  }
  .main {
    top: 18vh;
  }
  .card__content {
    width: 54vw;
    height: 83vw;
  }
  .card {
    width: 54vw;
    height: 83vw;
  }
  .cardbox {
    width: 54vw;
    height: 83vw;
  }
  .card__front,
  .card__back {
    width: 54vw;
    height: 83vw;
  }
  .quest1,
  .quest2,
  .quest3,
  .quest4,
  .quest5,
  .quest6 {
    display: none;
  }

  .block2 {
    margin-top: 2vh;
    height: 29.3333vh;
    font-size: 6.5vw;
  }
  .block3 {
    flex-direction: column-reverse;
    height: 102vh;
    justify-content: center;
  }
  .rightpart {
    height: 146vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
  }
  .leftpart {
    width: 100vw;
    font-size: 2vw;
    text-align: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 3vh;
    height: 12.66666vh;
    margin-top: 19vh;
    font-size: 6.5vw;
  }
  .card1,
  .card2,
  .card3 {
    height: 63.66666000000001vh;
    width: 82vw;
    margin-bottom: -42vh;
  }
  .hreftopromo img {
    display: none;
  }
  .card1 {
    z-index: 2;
    transform: rotate(-5deg);
  }
  .card2 {
    margin-left: 17vw;
  }
  .card3 {
    z-index: 3;
    transform: rotate(2deg);
  }
  .part2 {
    height: 24.888800000000003vh;
    width: 100vw;
  }
  .themes {
    font-size: 5vw;
    padding: 3vw;
    padding-top: 1.5vw;
    border-radius: 4vw;
  }
  .block4 {
    height: 24.888800000000003vh;
    top: 10vh;
  }
  .hreftopromo {
    height: 13vw;
    border-radius: 5vw;
    font-size: 5vw;
    padding-bottom: 2vw;
  }
  .block7 .part4,
  .block7 .part5 {
    font-size: 4vw;
  }
  .block7 {
    margin-top: 14vh;
    margin-bottom: 14vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 5vh;
    .part4 {
      gap: 2vh;
      align-items: center;
    }
    .part5 {
      align-items: center;
      gap: 2vh;
    }
  }
  .block7 .part2 {
    display: none;
  }
  .part3,
  .part1 {
    display: none;
  }
  .block7 .part4,
  .block7 .part5 {
    width: 53.527777vw;
  }
  .block5 {
    margin-top: 18vh;
  }
  .starsvg1 {
    width: 2vw;
    height: 2vw;
    top: -0.3vh;
  }
}

@media only screen and (max-device-width: 360px) {
  /* Android */
  body {
    width: 360px;
    // background: linear-gradient(
    //     180deg,
    //     #ff8bec 0%,
    //     rgba(255, 139, 236, 0) 4.5%,
    //     rgba(255, 139, 236, 0) 100%
    //   ),
    //   #f5f6ee;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
  .header {
    display: none;
  }
  .textblock {
    width: 96vw;
    top: 16vh;
  }

  .A_bigbuttonbelow {
    width: 90vw;
    line-height: 5vh;
    height: 6vh;
    padding-top: 0;
    padding-right: 2vw;
    font-size: 5vw;
    bottom: 44vw;
  }
  p {
    font-size: 3vh;
    line-height: normal;
    width: 96vw;
    margin-top: 2vh;
  }
  a {
    margin-right: 0vw;
  }
  .textblock {
    top: 9vh;
    height: 91vh;
  }
  .M_headerformobile {
    width: 100vw;
    padding-left: 2vh;
    padding-right: 2vh;
    padding-top: 2vh;
    display: flex;
    justify-content: space-between;
    font-size: 5vw;
    line-height: 4vw;
  }
  .A_logomobile {
    background-image: url('images/logo.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    cursor: pointer;
    height: 5vw;
    width: 50vw;
  }
  .logoanimation {
    margin-top: 1vh;
  }
  .main {
    top: 18vh;
  }
  .card__content {
    width: 54vw;
    height: 83vw;
  }
  .card {
    width: 54vw;
    height: 83vw;
  }
  .cardbox {
    width: 54vw;
    height: 83vw;
  }
  .card__front,
  .card__back {
    width: 54vw;
    height: 83vw;
  }
  .quest1,
  .quest2,
  .quest3,
  .quest4,
  .quest5,
  .quest6 {
    display: none;
  }

  .block2 {
    margin-top: 2vh;
    height: 29.3333vh;
    font-size: 6.5vw;
  }
  .block3 {
    flex-direction: column-reverse;
    height: 114vh;
    justify-content: center;
  }
  .rightpart {
    height: 146vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
  }
  .leftpart {
    width: 100vw;
    font-size: 2vw;
    text-align: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 3vh;
    height: 12.66666vh;
    margin-top: 19vh;
    font-size: 6.5vw;
  }
  .card1,
  .card2,
  .card3 {
    height: 63.66666000000001vh;
    width: 82vw;
    margin-bottom: -42vh;
  }
  .hreftopromo img {
    display: none;
  }
  .card1 {
    z-index: 2;
    transform: rotate(-5deg);
  }
  .card2 {
    margin-left: 17vw;
  }
  .card3 {
    z-index: 3;
    transform: rotate(2deg);
  }
  .part2 {
    height: 24.888800000000003vh;
    width: 100vw;
  }
  .themes {
    font-size: 5vw;
    padding: 3vw;
    padding-top: 1.5vw;
    border-radius: 4vw;
  }
  .block4 {
    height: 50.8888vh;
    top: 10vh;
  }
  .hreftopromo {
    height: 13vw;
    border-radius: 5vw;
    font-size: 5vw;
    padding-bottom: 2vw;
  }
  .block7 .part4,
  .block7 .part5 {
    font-size: 4vw;
  }
  .block7 {
    margin-top: 14vh;
    margin-bottom: 14vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 5vh;
    .part4 {
      gap: 2vh;
      align-items: center;
    }
    .part5 {
      align-items: center;
      gap: 2vh;
    }
  }
  .block7 .part2 {
    display: none;
  }
  .part3,
  .part1 {
    display: none;
  }
  .block7 .part4,
  .block7 .part5 {
    width: 53.527777vw;
  }
  .starsvg1 {
    width: 2vw;
    height: 2vw;
    top: -0.3vh;
  }
}
