.O_TarotCardInfo {
  position: relative;
  width: fit-content;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 75px;
  margin-bottom: 400px;
  .W_Section1 {
    width: fit-content;
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 196px;
    .W_BasicInfo {
      position: relative;
      width: fit-content;
      display: flex;
      flex-direction: column;
      gap: 40px;
    }
  }
  .W_Section2 {
    position: relative;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 40px;
    .W_StarHeading {
      width: 428px;
    }
    .A_Paragraph {
      width: 894px;
    }
  }
}
@media only screen and (min-width: 1440px) and (max-width: 1919px) {
  .O_TarotCardInfo {
    gap: 75px;
    margin-bottom: 400px;
    .W_Section1 {
      gap: 140px;
      .W_BasicInfo {
        gap: 40px;
      }
    }
    .W_Section2 {
      gap: 40px;
      .W_StarHeading {
        width: 320px;
      }
      .A_Paragraph {
        width: 665px;
      }
    }
  }
}
@media only screen and (min-width: 960px) and (max-width: 1439px) {
  .O_TarotCardInfo {
    gap: 60px;
    margin-bottom: 350px;
    .W_Section1 {
      gap: 124px;
      .W_BasicInfo {
        gap: 40px;
      }
    }
    .W_Section2 {
      gap: 40px;
      .W_StarHeading {
        width: 284px;
      }
      .A_Paragraph {
        width: 695px;
      }
    }
  }
}
@media only screen and (min-width: 960px) and (max-width: 1279px) {
  /*только смена количества колонок*/
  .O_TarotCardInfo {
    gap: 70px;
    margin-bottom: 350px;
    .W_Section1 {
      gap: 105px;
      .W_BasicInfo {
        gap: 20px;
      }
    }
    .W_Section2 {
      gap: 20px;
      .W_StarHeading {
        width: 182px;
      }
      .A_Paragraph {
        width: 665px;
      }
    }
  }
}
@media only screen and (min-width: 500px) and (max-width: 959px) {
  .O_TarotCardInfo {
    gap: 60px;
    margin-bottom: 300px;
    .W_Section1 {
      gap: 25px;
      .W_BasicInfo {
        gap: 25px;
      }
    }
    .W_Section2 {
      .M_CardReading {
        flex-direction: row;
        gap: 25px;
      }
      gap: 25px;
      .W_StarHeading {
        width: 215px;
      }
      .A_Paragraph {
        width: 453px;
      }
    }
  }
}
@media only screen and (min-width: 500px) and (max-width: 767px) {
  /*только смена количества колонок*/
  .O_TarotCardInfo {
    gap: 100px;
    margin-bottom: 300px;
    .W_Section1 {
      flex-direction: column;
      gap: 55px;
      .W_BasicInfo {
        gap: 25px;
      }
      .M_TarotCard {
        margin: 0 auto;
      }
    }
    .W_Section2 {
      .M_CardReading {
        flex-direction: column;
        gap: 10px;
      }
      gap: 40px;
      .W_StarHeading {
        width: 455px;
      }
      .A_Paragraph {
        padding-left: 0px;
        width: 455px;
      }
    }
  }
}
@media only screen and (max-device-width: 499px) {
  .O_TarotCardInfo {
    gap: 100px;
    margin-bottom: 300px;
    .W_Section1 {
      flex-direction: column;
      gap: 55px;
      .W_BasicInfo {
        gap: 25px;
      }
      .M_TarotCard {
        margin: 0 auto;
      }
    }
    .W_Section2 {
      .M_CardReading {
        flex-direction: column;
        gap: 4px;
      }
      gap: 40px;
      .W_StarHeading {
        width: 338px;
      }
      .A_Paragraph {
        padding-left: 0px;
        width: 338px;
      }
    }
  }
}
